body {
  background-color: rgb(244, 244, 248);
  background-image: url(img/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /*font-family: "Dorsa" , serif;
  font-family:  "Pathway+Gothic+One", serif;*/
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*justify-content: space-between;*/
  /*align-content:	center;*/
  align-items: center;
  margin: 100px auto 150px auto;
  /*width: 12%;
  height: 190px;*/
  width: 1000px;
  height: 100px;
  padding: 0px 30px;
  /*position: relative;*/
  text-decoration: none;
  /*display: inline-block;*/
  /*font-family: "Pathway+Gothic+One", serif;
  font-size: 20px;*/
}

.menu__item {
  /*position: relative;
  display: inline-block;*/
  /*width: 100px;*/
  height: 100px;
  display: flex;
  /* flex-direction: row;*/
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  text-decoration: none;
  color: #fff;
  /*color: hsl(156, 33%, 97%);*/
  /* Цвет текста */
  /*margin: 10px 10px 10px 10px;*/
  text-transform: uppercase;
  font-family: "Pathway+Gothic+One", serif;
  font-size: 20px;
}

.sub-sign {
  position: relative;
  display: inline-block;
  /*width: 50px;*/
  margin: auto;
}

.menu__item>a:hover {
  background: rgb(138, 86, 221);
  /*color: var(--item-bg);*/
}

.submenu__item>a:hover {
  background: rgb(126, 103, 230);
  /*color: var(--item-bg);*/
}

.menu__item_1>a:hover {
  background: rgb(138, 86, 221);
  /*color: var(--item-bg);*/
}

.menu__item_2>.sub-sign:hover {
  background: rgb(138, 86, 221);
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
  height: 120px;
  margin: auto;
  padding: 0px;
  list-style: none;
  position: absolute;
  left: -5px;
  top: 90px;
  background: #f6f5f8;
  display: none;
  font-family: "Pathway+Gothic+One", serif;
  font-size: 16px;
}

.submenu__item {
  width: 80px;
  /*height: 25px;*/
  padding: 13px 0 9px 0;
  text-align: center;
  text-transform: uppercase;
}

.menu__item_2,
.menu__item_1 {
  margin: 0;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  /* flex-direction: row;*/
  align-items: center;
  justify-content: center;
}

.menu__item_1 {
  /* display: flex;*/
  /* flex-direction: row;*/
  /*align-items:	center;*/
  /*justify-content:	center;*/
  width: 120px;
  height: 120px;
  background: rgb(241, 233, 233);
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  font-family: "Dorsa", serif;
  font-size: 60px;
}

.menu__item_2 {
  display: flex;
  position: relative;
  /* flex-direction: row;*/
  align-items: center;
  justify-content: center;
  /*width: 100px;*/
  height: 100px;
  font-family: "Pathway+Gothic+One", serif;
  font-size: 20px;
}


/* делаем .submenu видимым */

.menu__item_2:hover>.submenu {
  display: block;
  /*position: absolute;*/
}

.sub-sign::before {
  content: '\25B4';
  position: absolute;
  top: 35px;
  left: 25px;
  color: #fff;
}

a {
  /*position: relative;*/
  color: #fff;
  /* Цвет текста */
  text-decoration: none;
  /*padding: 40px 40px;
    margin: 40px 40px;*/
}

span {
  color: hsl(0, 0%, 3%);
}


/*окончание навигации*/

.wrapper {
  display: flex;
  width: 900px;
  /* height: 600px;*/
  padding: 100px 65px 110px 60px;
  margin: 100px auto 0px auto;
  background: hsl(156, 33%, 97%);
}

.txt {
  /*display: inline-block;*/
  text-transform: uppercase;
  margin: 0px 450px 45px 0px;
  font-family: "Pathway+Gothic+One", serif;
  /*font-size: 20px;*/
}

.section1 {
  /*display: inline-block;*/
  display: flex;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  flex-wrap: wrap;
  /*position: relative;*/
  width: 700px;
  /*height: 700px;*/
  margin: 0 0px 0 0;
  padding: 0 0px 0 0px;
  /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL9BmOBZ2NfEF37YnZU4A-WNqP8LHkC56ee3aI6n8Hdv6kZE53fw);*/
  /*background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  /*background-size: cover;*/
  /*background-size: 100% 100%;*/
}

.box1 {
  list-style-type: none;
  margin: 0 30px 0 20px;
  padding: 0 0px;
}

.foto1 {
  /*width: 300px;*/
  height: 115px;
  margin: 0px 0 80px 0px;
  /*margin-right:0px;*/
  /*flex-grow: 2;*/
}

.box11 {
  font-size: 15px;
}

.box12 {
  margin: 10px 0 0 0;
  font-size: 11px;
}

.box13 {
  margin: 5px 0 0 0;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(102, 64, 240);
}

input[type="submit"] {
  padding: 0 0px;
  margin: 40px 0 0 0px;
  height: 20px;
  width: 60px;
  border: 1px solid #5c91f5;
  border-radius: 7px;
  text-align: center;
  background-color: #fafafa;
  /*background-color: var(--wr-dark-color);*/
  /*box-shadow: var(--black-alfa2);*/
  color: rgb(8, 8, 8);
}

input[type="submit"]:hover {
  box-shadow: none;
  background-color: #bbcdf1;
  /*cursor: pointer;*/
}

.section2 {
  /* display: flex;*/
  display: inline-block;
  /*justify-content: space-between;*/
  /*justify-content:flex-start;
  flex-wrap: wrap;
  /*position: relative;*/
  width: 220px;
  /*height: 700px;*/
  margin: 0 0 0 0;
  padding: 0 0px 0 0px;
  /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL9BmOBZ2NfEF37YnZU4A-WNqP8LHkC56ee3aI6n8Hdv6kZE53fw);*/
  /*background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  /*background-size: cover;*/
  /*background-size: 100% 100%;*/
}

input[placeholder="NAME"] {
  margin: 0px 0 0 0;
  padding: 0 0px;
  height: 27px;
  width: 209px;
  /* background-color: var(--wr-dark-color);
  box-shadow: var(--black-alfa2);*/
  color: #000;
  border: 1px solid #bbcdf1;
  /*text-transform: uppercase;*/
  line-height: 0px;
  text-indent: 10px;
}

input[placeholder="EMEIL"] {
  margin: 16px 0 0 0;
  padding: 0 0px;
  height: 27px;
  width: 209px;
  /* background-color: var(--wr-dark-color);
  box-shadow: var(--black-alfa2);*/
  color: #000;
  border: 1px solid #bbcdf1;
  /*text-transform: uppercase;*/
  line-height: 0px;
  text-indent: 10px;
}

input[placeholder="SUBJECT"] {
  margin: 18px 0 0 0;
  padding: 0 0px;
  height: 27px;
  width: 209px;
  /* background-color: var(--wr-dark-color);
  box-shadow: var(--black-alfa2);*/
  color: #000;
  border: 1px solid #bbcdf1;
  /*text-transform: uppercase;*/
  line-height: 0px;
  text-indent: 10px;
}

.s21 {
  font-size: 13px;
  margin: 0px 0px 10px 0;
}

select[name="tyr"] {
  margin: 0px 0 23px 0;
  padding: 0 0px;
  height: 27px;
  width: 209px;
  /* background-color: var(--wr-dark-color);
  box-shadow: var(--black-alfa2);*/
  color: #000;
  border: 1px solid #bbcdf1;
  /*text-transform: uppercase;*/
  line-height: 0px;
  text-indent: 10px;
}

.s22 {
  font-size: 13px;
  margin: 0px 0px 10px 0;
  padding: 0px 0 0 0;
  color: #1761eb;
}

input[value="Search"] {
  padding: 0 0px;
  margin: 1px 0 0 0px;
  height: 20px;
  width: 60px;
  border: 1px solid #5c91f5;
  border-radius: 7px;
  text-align: center;
  background-color: #fafafa;
  /*background-color: var(--wr-dark-color);*/
  /*box-shadow: var(--black-alfa2);*/
  color: rgb(8, 8, 8);
}

footer {
  display: flex;
  /*flex-grow:1;*/
  justify-content: space-around;
  /*justify-content:center;*/
  /* font-family: "Pathway+Gothic+One", serif;*/
  width: 955px;
  height: 135px;
  margin: 0px auto 0 auto;
  padding: 0px 70px 0px 0px;
  background: hsl(226, 40%, 31%);
  color: #f5f1f1;
  align-items: center;
}

.faqs {
  width: 120px;
  margin: 0 0 0 100px;
  line-height: 30px;
  /*flex-grow:1;*/
  color: #f5f1f1;
  text-align: left;
  font-family: "Pathway+Gothic+One", serif;
  /*font-family: Dorsa;*/
  /*font-size: 23px;*/
  text-transform: uppercase;
}

.useful {
  width: 120px;
  line-height: 30px;
  /*flex-grow:3;*/
  color: #f5f1f1;
  text-align: left;
  text-transform: uppercase;
}

.insurance {
  width: 140px;
  line-height: 30px;
  /*flex-grow:2;*/
  color: #f5f1f1;
  text-align: left;
  text-transform: uppercase;
}

.contact {
  width: 195px;
  margin: 0 0px 0 0;
  line-height: 20px;
  /*flex-grow:3;*/
  color: #f5f1f1;
  text-align: left;
  /*text-transform: uppercase;*/
}

.fixed {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: fixed;
  bottom: 250px;
  right: 135px;
  background: hsl(231, 67%, 77%);
  color: white;
  text-align: center;
  /*position: absolute;
      /*top: -250px;*/
  /*bottom: 20px;*/
  /*left: 100px;*/
}

.fixed a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  /*display: flex;*/
  /*justify-content: center; /*Центрирование по горизонтали*/
  /*align-items: center;*/
  /*Центрирование по вертикали */
  line-height: 45px;
}

.sprait {
  display: flex;
  justify-content: center;
  /* position: relative;*/
  /* overflow: hidden;*/
  /*overflow: visible;*/
  width: 1040px;
  height: 40px;
  padding: 0 0;
  margin: 30px auto;
  /*background: hsl(224, 44%, 82%);*/
  /*text-align: center;*/
}

.sprait li {
  float: left;
  list-style: none;
}

.sprait a {
  display: block;
  width: 40px;
  height: 40px;
  background: url(img/spr.png) 0 0 no-repeat;
  transition: 0.2s;
}

.sprait .twit {
  background-position: 0px 0px;
}

.sprait .face {
  background-position: -52px 0px;
}

.sprait .googl {
  background-position: -106px 0px;
}

.sprait .in {
  background-position: -158px 0px;
}

.sprait .twit:hover {
  background-position: 0px -49px;
}

.sprait .face:hover {
  background-position: -52px -49px;
}

.sprait .googl:hover {
  background-position: -106px -49px;
}

.sprait .in:hover {
  background-position: -158px -49px;
}

.footer2 {
  width: 1040px;
  height: 15px;
  margin: 0 auto;
  /*padding: 0 280px;*/
  text-align: center;
  /*background: hsl(224, 44%, 82%);*/
  /*color: hsl(223, 26%, 42%);*/
}